@{
    ViewBag.Title = "Confirm Account";
}
<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(/Assets/client/images/resource/mslider1.jpg) 50% -66.4px repeat scroll transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Confirm Account</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block">
        <div class="container">
            <h2>@ViewBag.Title.</h2>
            <div>
                <p>
                    Account verification is successful. You can login to the system now!

                </p>
            </div>
        </div>
    </div>
</section>