@using Microsoft.AspNet.Identity
@using JobHunt.BU.Manage
@model JobHunt.BU.DTO.CandidateDTO
@{
    ViewBag.Title = "Change Password || " + Model.CddFullName;
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="col-lg-9 column">
    <div class="padding-left">
        <div class="manage-jobs-sec">
            <h3>Change Password</h3>
            <div class="change-password">
                @using (Html.BeginForm("ChangePasswordCdd", "Candidate", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "ChangePassword" }))
                {
                    <div class="row">
                        <div class="col-lg-6">
                            <span class="pf-title">Old Password</span>
                            <div class="pf-field">
                                <input type="password" name="OddPass" placeholder="Old Password" id="OddPass">
                                <i class="la la-key"></i>
                            </div>
                            <span class="pf-title">New Password</span>
                            <div class="pf-field">
                                <input type="password" name="NewPass" placeholder="New Password" id="NewPass">
                                <i class="la la-key"></i>
                            </div>
                            <span class="pf-title">Confirm Password</span>
                            <div class="pf-field">
                                <input type="password" name="ConfirmPass" placeholder="Enter Again" id="ConfirmPass">
                                <i class="la la-key"></i>
                            </div>
                            <button type="submit"> Change Password</button>
                        </div>
                        <div class="col-lg-6">
                            <i class="la la-key big-icon"></i>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

